.nordvpn-on-icon {
    background-image: url("img/nordvpn-on.svg");
    background-size: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
}

.nordvpn-off-icon {
    background-image: url("img/nordvpn-off.svg");
    background-size: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
}
